span i{
    width: 28px;
    padding: 10px auto 0;
  
}

body{
    margin: 0;
    padding: 0;
}

.list{
    position: relative;
    width: 450px;
    margin: 25px auto 0;
    box-sizing: border-box;
    list-style: none;
    
}

ul span{
    display: flex;
    padding: 10px 20px;
    margin: 5px 0;
    transition: .5s;
} 

ul span:hover{
    transform: scale(1.06);
    background: #f5f5eb;
}

.user{
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px black;
}

.det{
    text-align: center;
    width: 100%;
    background: none;
    border: 2px solid rgb(90, 43, 59);
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.loading{
    text-align: center;
    padding-top: 50px;
}